%h1 Products

%ul{id: 'types'}
  - @types.select { |t| t.code.length == 1 }.each do |type|
    -# TODO: Make link relative to products page
    %li= link_to( type.name, '/!' + type.code )
    %ul
      - @types.select { |t| t.code.length == 2 and t.code.start_with? type.code }.each do |subtype|
        %li= link_to( subtype.name, '/!' + subtype.code )

%hr

%table
  %tr
    %th
    %th
    %th
    %th
    %th
    %th
    %th

  - @products.each do |product|
    - typecode = h @type_by_id[product.type_id] if product.type_id
    - qty_style = "color: red" if product.quantity and product.quantity < 0
    - qty_style = "color: blue;font-weight:bold" if product.quantity and product.quantity > 0
    %tr{:'data-type' => typecode}
      %td= @brand_by_id[product.brand_id] if product.brand_id
      %td= product.name
      %td= "£#{'%.2f' % product.price}" if product.price
      %td{style: qty_style}= "(#{product.quantity})" if product.quantity
      %td= link_to 'Show', product
      %td= link_to 'Edit', edit_product_path(product)
      %td= link_to 'Delete', product, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Product', new_product_path
